dist: xenial
language: python
python:
  - "3.6"

cache: pip

before_install:
  - openssl aes-256-cbc -K $encrypted_cc51b64530dc_key -iv $encrypted_cc51b64530dc_iv
    -in deployment/deployment-push.enc -out deployment/deployment-push.key -d

install:
  - pip install -r requirements.txt

jobs:
  include:
    - name: "tests"
      script: "./manage.py test"
    - name: "linter"
      script: "pylint scheduler zielbruks"
    - name: "type analysis"
      script: "mypy scheduler zielbruks"
