django==2.1.7

# development dependencies:
pylint==2.3.1
pylint-django==2.0.6
mypy==0.670
django-stubs==0.10.2 # required for mypy
pandas==0.24.2
xlrd==1.2.0 # for read_excel in pandas
django-swingtime==0.8.0
