<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

    {% block static %}{% endblock static %}
    {% block script %}{% endblock script %}

    <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: GhostWhite;
           color: grey;
           text-align: center;
           font-size: 11px;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">ZIELBRUKS-schedule</a>
        </div>
        {% block navbar %}{% endblock navbar %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'sign_up' %}"><span class=" glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'log_in' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

{% block content %}

{% endblock content %}

<footer>
<div class="footer">&copy; Copyright 2019,
    <a href="https://zielbruks.tk/">ZIELBRUKS</a>. All rights reserved.
  </div>
</footer>
</body>
</html>

