<div class="container">

    <h2>Conflicts</h2>

    {% if conflicts_flag %}

    {% load custom_filters %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th> ConflictType</th>
            <th> Name</th>
            <th> Professor</th>
            <th> Auditorium</th>
            <th> Group</th>
            <th> Start time</th>
            <th> End time</th>
        </tr>
        </thead>
        <tr>
            {% for conflict in conflicts %}
            {% get_color_tag forloop.counter0 as conflicts_color %}
        <tr class={{conflicts_color}}>
            <td> {{ conflict.conflict_type }}</td>
            <td> {{ conflict.first_lesson.name }}</td>
            <td> {{ conflict.first_lesson.professor }}</td>
            <td> {{ conflict.first_lesson.auditorium }}</td>
            <td> {{ conflict.first_lesson.group }}</td>
            <td> {{ conflict.first_lesson.start_time }}</td>
            <td> {{ conflict.first_lesson.end_time }}</td>
        </tr>
        <tr class={{conflicts_color}}>
            <td></td>
            <td> {{ conflict.second_lesson.name }}</td>
            <td> {{ conflict.second_lesson.professor }}</td>
            <td> {{ conflict.second_lesson.auditorium }}</td>
            <td> {{ conflict.second_lesson.group }}</td>
            <td> {{ conflict.second_lesson.start_time }}</td>
            <td> {{ conflict.second_lesson.end_time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% else %}
    <p style="...">
    <div class="alert alert-danger">
        There are no conflicts.
    </div>
    </p>
    {% endif %}
</div>