{% extends 'scheduler.html' %}

{% block add_event %}
    <style type="text/css">
        #edit_button {
            display: none;
        }

    </style>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <p align="right" id="p_with_buttons">
        <button class="edit btn btn-primary" type="button" name="button" id="edit_button">Edit event</button>
        <button class="create btn btn-primary" type="button" name="button">Create event</button>
    </p>
    <script type="text/javascript">
        $(function () {
            $(".create").modalForm({formURL: "{% url 'create' %}"});
        });
    </script>
{% endblock add_event %}

{% block edit_event %}
    setupEditButton(dp, "{% url 'edit' lesson_id=123 %}");
{% endblock edit_event %}

