{% extends 'conflicts_list.html' %}

{% block edit_conflicts %}
    <style>

    </style>

    <script type="text/javascript">
    function toggle(source) {
        checkboxes = document.getElementsByName('checks');
        for(var i=0, n=checkboxes.length;i<n;i++) {
             checkboxes[i].checked = source.checked;
     }
    }
    </script>

    <input type="checkbox" onClick="toggle(this)" />
    <button type="button" class="btn btn-default">Edit</button>
    <button type="button" class="submit-btn btn btn-primary">Delete</button>
{% endblock edit_conflicts %}
