{% extends 'conflicts_list.html' %}

{% block mass_conflict_edition %}

    <style>
        input[name="checks[]"]{
            display: inline;
        }
    </style>

    <script type="text/javascript">
    function toggleAll(source) {
        checkboxes = document.getElementsByName('checks[]');
        for(var i=0, n=checkboxes.length;i<n;i++) {
             checkboxes[i].checked = source.checked;
     }
    }

    function mass_edit_lessons(command){
        if(confirm('Are you sure you want to ' + command + ' selected lessons?')){
            if(command == 'delete'){
                document.form.action="{% url 'delete_lessons' %}";
                document.form.method='POST';
            } else {
                document.form.action="{% url 'edit_lessons' %}";
                document.form.method='POST';
            }

            document.form.submit()
        }
    }
    </script>
    <input type="checkbox" onClick="toggleAll(this)" />
    <button type="button" class="edit_lessons btn btn-primary" onClick="mass_edit_lessons('edit')">Edit</button>
    <input type="button" class="delete_lessons btn btn-primary" onClick="mass_edit_lessons('delete')" value="Delete"/>
{% endblock mass_conflict_edition %}

{% block edit_conflicts %}
    <tr>
        <td></td>
        <td></td>
        {% for field in form %}
            <td>{{ field }}
            {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
            {% endfor %}
            </td>
        {% endfor %}
    </tr>
{% endblock edit_conflicts %}