<div class="container">

    <div class="alert alert-success">
        {% if removed_conflicts_number == 1 %}
        {% for conflict in removed_conflicts %}

        <p>Removed conflict of: {{ conflict.conflict_type }}, {{ conflict.first_lesson.name }},
            {{ conflict.first_lesson.professor }}, {{ conflict.first_lesson.auditorium }},
            {{ conflict.first_lesson.group }}, {{ conflict.first_lesson.start_time }},
            {{ conflict.first_lesson.end_time }}</p>
        <p> and {{ conflict.second_lesson.name }}, {{ conflict.second_lesson.professor }},
            {{ conflict.second_lesson.auditorium }}, {{ conflict.second_lesson.group }},
            {{ conflict.second_lesson.start_time }}, {{ conflict.second_lesson.end_time }}</p>

        {% endfor %}
        {% else %}
        <p>Removed conflicts: {{ removed_conflicts_number }}</p>
        {% endif %}

    </div>


    <div class="alert alert-danger">
        {% if new_conflicts_number == 1 %}
        {% for conflict in new_conflicts %}
        <p>New conflict: {{ conflict.conflict_type }}, {{ conflict.first_lesson.name }},
            {{ conflict.first_lesson.professor }},{{ conflict.first_lesson.auditorium }},
            {{ conflict.first_lesson.group }},{{ conflict.first_lesson.start_time }},
            {{ conflict.first_lesson.end_time }}</p>
        <p> and {{ conflict.second_lesson.name }}, {{ conflict.second_lesson.professor }},
            {{ conflict.second_lesson.auditorium }}, {{ conflict.second_lesson.group }},
            {{ conflict.second_lesson.start_time }}, {{ conflict.second_lesson.end_time }}</p>

        {% endfor %}
        {% else %}
        <p>New conflicts: {{new_conflicts_number }}</p>
        {% endif %}
    </div>
</div>