<style>
    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .collapsible:hover {
        background-color: #ccc;
    }

    .content {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .removed-conflicts {
        background-color: #B4E79A;
    }

    .added-conflicts {
        background-color: #F0917D;
    }
</style>

<div class="container">
    {% if removed_conflicts_number %}
    <button class="collapsible">Conflicts resolved ({{ removed_conflicts_number }})</button>
    <div class="content removed-conflicts">
        {% for conflict in removed_conflicts %}
        <p><u>Removed conflict of:</u></br> <b> {{ conflict.conflict_type }} </b>,
            {% if conflict.first_lesson %}
            {{ conflict.first_lesson.name }},
            {{ conflict.first_lesson.professor }}, {{ conflict.first_lesson.room }},
            {{ conflict.first_lesson.group }}, {{ conflict.first_lesson.start_time }},
            {{ conflict.first_lesson.end_time }}
            {% else %}
            Lesson removed.
            {% endif %}
            </br><i>and</i>
            {% if conflict.second_lesson %}
            {{ conflict.second_lesson.name }}, {{ conflict.second_lesson.professor }},
            {{ conflict.second_lesson.room }}, {{ conflict.second_lesson.group }},
            {{ conflict.second_lesson.start_time }}, {{ conflict.second_lesson.end_time }}
            {% else %}
            Lesson removed.
            {% endif %}
        </p>
        {% endfor %}
    </div>
    {% endif %}

    {% if new_conflicts_number %}
    <button class="collapsible">New conflicts ({{ new_conflicts_number }})</button>
    <div class="content added-conflicts">
        {% for conflict in new_conflicts %}
        <p><u>New conflict:</u></br><b> {{ conflict.conflict_type }} </b>,
            {{ conflict.first_lesson.name }},
            {{ conflict.first_lesson.professor }}, {{ conflict.first_lesson.room }},
            {{ conflict.first_lesson.group }}, {{ conflict.first_lesson.start_time }},
            {{ conflict.first_lesson.end_time }} </br><i> and </i> {{ conflict.second_lesson.name }}
            , {{ conflict.second_lesson.professor }},
            {{ conflict.second_lesson.room }}, {{ conflict.second_lesson.group }},
            {{ conflict.second_lesson.start_time }}, {{ conflict.second_lesson.end_time }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

