<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    {% load static %}
    <script src="{%static 'js/daypilot/daypilot-all.min.js' %}" type="text/javascript"></script>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">ZIELBRUKS-schedule</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'show_schedule' %}">Full calendar</a></li>
            <li class="active"><a href="{% url 'show_room_schedule' %}">Room's calendar</a></li>
            <li><a href="{% url 'show_professors_schedule' %}">Professor's calendar</a></li>
            <li><a href="{% url 'show_groups_schedule' %}">Group's calendar</a></li>
            <li><a href="{% url 'conflicts' %}">Conflicts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'sign_up' %}"><span class=" glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'log_in' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="basic">
    {% include "filtered_schedule.html" %}
</div>

</body>
</html>

