{% extends 'upload.html' %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Upload
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'upload_schedule' %}">Upload schedule</a></li>
                <li class="active"><a href="{% url 'upload_students' %}">Upload students</a></li>
            </ul>
        </li>
        <li><a href="{% url 'show_schedule' %}">Full calendar</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Specific schedule
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'show_room_schedule' %}">Room's calendar</a></li>
                <li><a href="{% url 'show_professors_schedule' %}">Professor's calendar</a></li>
                <li><a href="{% url 'show_groups_schedule' %}">Group's calendar</a></li>
            </ul>
        </li>
        <li><a href="{% url 'conflicts' %}">Conflicts</a></li>
        <li><a href="{% url 'professors' %}">Professors</a></li>
        <li><a href="{% url 'students' %}">Students</a></li>
    </ul>
{% endblock navbar %}

{% block legend %}
    <div class="container">
        <button class="collapsible">File format</button>
        <div class="content legend">
            <h4>CSV and Excel file:</h4>
            <p style="padding-left: 30px">
                Accepted format: index_number | name_and_surname | group<br>
                Comma(,) as a separator in .csv file<br>
                Index number is in range <100.000, 999.999><br>
            </p>
        </div>
    </div>

    <h2>Upload students</h2>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
{% endblock legend %}
