{% extends 'upload.html' %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="active"><a href="{% url 'upload_schedule' %}">Upload schedule</a></li>
        <li><a href="{% url 'upload_students' %}">Upload students</a></li>
        <li><a href="{% url 'show_schedule' %}">Full calendar</a></li>
        <li><a href="{% url 'show_room_schedule' %}">Room's calendar</a></li>
        <li><a href="{% url 'show_professors_schedule' %}">Professor's calendar</a></li>
        <li><a href="{% url 'show_groups_schedule' %}">Group's calendar</a></li>
        <li><a href="{% url 'conflicts' %}">Conflicts</a></li>
    <li><a href="{% url 'professors' %}">Professors</a></li>
</ul>
{% endblock navbar %}

{% block legend %}
    <h2>Upload schedule</h2>
{% endblock legend %}